################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BTX_CAC_Compatibility/BTX_CAC_CompatibilityDll.dll
/BTX_CAC_Compatibility.zip
/additionalDependencies
