[submodule "BTX_CAC_CompatibilityDll/BTX_CAC_CompatibilityDll/AccessExtensionPatcher"]
	path = BTX_CAC_CompatibilityDll/BTX_CAC_CompatibilityDll/AccessExtensionPatcher
	url = https://github.com/mcb5637/AccessExtensionPatcher.git
